<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meu querido Diary,</title>

    <!-- Styles
    ========================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diary.css') }}">
</head>
<body>

    <!-- Scripts
    ========================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/handlebars.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/ember.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
